@import url(https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #e0e0e0;
    padding: 1rem 25rem 1rem 25rem;
    font-family: 'Gochi Hand';
}

.card {
    background-color: #ffffff;
    height: 53rem;
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.15)
}

.card-img {
    flex-basis: 70%;
    background-image: url(01.Postcard_Resources/images/nature.jpg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: 1.5rem;
}

.text-container {
    background-color: white;
    margin: 26rem 2rem 1rem 2rem;
    border-radius: 10px;
    padding-top: 1rem;
}

.secondary-heading-img {
    text-align: center;
    padding-bottom: 1rem;
    color: #333333;
}

.text-container p {
    padding: 0 2rem 1rem 2rem;
    text-align: center;
    font-size: 1.1rem;
    color: #666769;
}

.card-description {
    border-top: 2px solid #dcdcdc;
    padding: 2rem 3.5rem 3rem 3.5rem;
}

.secondary-heading-desc{
    padding-bottom: 1rem;
    color: #33333a;
}

.card-description p {
    padding-bottom: 1rem;
    color: #747476;
    font-size: 1.1rem;
}
