<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div class="card-container">
        <p class="card-container__workout-name">Weight Loss</p>
        <p class="card-container__workout-trainer">Mihael</p>

        <div class="card-container__difficulty">
            <p class="card-container__difficulty-text">
                Beginner
            </p>
            <div class="card-container__difficulty-stars">
                Stars
            </div>
        </div>
        <div class="card-container__tags">
            <span class="card-container__tags-tag">GYM</span>
            <span class="card-container__tags-tag">GYM</span>
            <span class="card-container__tags-tag">GYM</span>
        </div>
        <span class="card-container__add-btn material-symbols-outlined">
            add
        </span>
    </div>
</body>

</html>