* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

.product {
    border: solid black 7px;
    width: 825px;
    margin: 50px auto;
}

.product-title {
    background-color: rgb(215, 214, 214);
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
    padding: 15px 20px;
    position: relative;
}

.product-title::after {
    content: "sale";
    letter-spacing: 3px;
    font-size: 13px;
    border: red solid;
    background-color: red;
    color: white;
    position: absolute;
    left: -30px;
    top: -15px;
    padding: 3px 7px;
}

.price {
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.shiping {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #777;
    margin-top: 0;
    margin-bottom: 20px;
}

a:link,
a:visited {
    color: black;
    font-weight: bold;

}

a:hover,
a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

li {
    margin: 6px 20px;
}

.btn {
    color: white;
    background-color: black;
    border: none;
    text-transform: uppercase;
    font-size: 25px;
    width: auto;
    padding: 15px;
    width: 100%;
}

.btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-top: solid black 5px;
}

.text-description {
    margin-bottom: 6px;
}

.img {
    width: 30%;
}

.black {
    border: solid black 10px;
    display: inline-block;
    margin: 25px 0;
    
}

.blue {
    border: #2f6ee2 solid 10px;
    display: inline-block;
    margin: 25px 0;
    margin-left: 11px;
}

.red {
    border: solid red 10px;
    display: inline-block;
    margin: 25px 0;
    margin-left: 11px;
}

.yellow {
    border: solid yellow 10px;
    display: inline-block;
    margin: 25px 0;
    margin-left: 11px;
}

.green {
    border: solid green 10px;
    display: inline-block;
    margin: 25px 0;
    margin-left: 11px;
}

.brown {
    border: solid rgb(63, 15, 15) 10px;
    display: inline-block;
    margin: 25px 0;
    margin-left: 11px;
}